
  <nav style="position: fixed; top: 0;left: 0;right: 0; z-index: 2;">
      <div class="nav-wrapper" style="background-color: #fafafa">
        <a href="#" class="brand-logo center" style="color: black">Developer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ><a href="" style="color: black">Serviços</a></li>
          <li><a href="" style="color: black">Sobre</a></li>
          <li><a href="" style="color: black">contato</a></li>
        </ul>
      </div>
  </nav>
          

<div class="container">
    <!--h3>Ter uma questão? Por favor, pergunte abaixo</h3>
  <app-form></app-form-->
  
</div>

<app-home></app-home>


<footer class="page-footer lighten cinza-5" style="background-color: #fafafa">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="" style="color: black">Footer Content</h5>
          <p class=" text-lighten-4" style="color: black">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="" style="color: black">Links</h5>
          <ul>
            <li><a class=" text-lighten-3" href="#!" style="color: black">Linkdin</a></li>
            <li><a class=" text-lighten-3" href="#!" style="color: black">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="color: black">
      © 2018 Copyright Text
      <a class="text-lighten-4 right" href="#!" style="color: black">Mais links</a>
      </div>
    </div>
  </footer>